@media only screen and (max-width: 768px) {
    .web-cart{
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .mob-cart{
        display: none;
    }
}

.btn-add-to-cart a:link {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* a:hover .btn-add-to-cart {
    background-color: green;
} */